@import "bootstrap/functions";
@import "bootstrap/variables";
@import "bootstrap/mixins/breakpoints";


.containerPic {
    &.backgroundpic {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-items: flex-end;
        //det er muligt at have flere baggrundsbilleder i samme container/div
        background-image: url("/images/logoKendelser.png"),url("/images/bgGrayishBg.png");
        background-size: auto, cover;
        background-repeat: no-repeat, no-repeat;
        background-position: top 50px center, center;
        height: 272px;
        width: 100%;

        @include media-breakpoint-between(xs,md) {
            height: 150px;
            background-position: top 10px center, center;
            background-size: 50px 50px, cover;
        }

        @include media-breakpoint-between(md,lg) {
            height: 200px;
            background-position: top 10px center, center;
        }


        .container-inner {
            margin-bottom: 10px;
            margin-top: auto;
        }

        h2 {
            font-family: "PT Serif", serif;
            position: relative;
            font-size: 30px;
            font-weight: 700;
            padding: 10px 0px 10px 0px;
            margin: 0px;
            text-align: center;
            white-space: nowrap;

            @include media-breakpoint-between(xs,md) {
                font-size: 18px;
            }

            @include media-breakpoint-between(md,lg) {
                font-size: 23px;
            }
        }

        h4 {
            font-family: "PT Serif", serif;
            position: relative;
            font-size: 13px;
            line-height: 18px;
            text-align: center;
            white-space: nowrap;

            @include media-breakpoint-between(xs,md) {
                font-size: 12px;
            }
        }
    }
}
