
// Hides all cases on "Gemte afgørelser" and shows only the saved cases. 
#containerData {
    &.savedRulingsHidden {
        display: contents;
    }

    &.savedRulingsHidden.closed {
        display: none;
    }
}

// Hides all saved cases on "Søgeresultat"   
#localSavedCases {
    &.savedRulings {
        display: none;
    }

    &.savedRulings.open {
        display: contents;
    }
}

// Hides all starts information modals except the top saved case
#localSavedCases :not(:nth-child(1)) {
    .container-star {
        .infoStar {
            display: none;
        }
    }
}


#localSavedCases {
    // Creates the info madal and alle the stars to save and unsave the cases.
    .container-star {
        .infoStar {
            height: 20px;
            width: 20px;
            background-image: url("/images/icons/ankeinfo.png");
            background-size: contain;
            background-repeat: no-repeat;
            background-position: right;
            cursor: pointer;
            margin-left: -14px;
            margin-right: auto;
        }

        .star {
            height: 18px;
            width: 18px;
            cursor: pointer;
            background-image: url("/images/icons/starGray.png");
            background-size: contain;
            background-repeat: no-repeat;
            margin-left: -12px;
            margin-right: auto;
            margin-top: 20%;
        }

        .star.saved {
            height: 18px;
            width: 18px;
            cursor: pointer;
            background-image: url("/images/icons/starBlue.png");
            background-size: contain;
            background-repeat: no-repeat;
            margin-left: -12px;
            margin-right: auto;
            margin-top: 20%;
        }
    }
    // Creates the info madal and alle the arrow to open an close all resumés
    #container-arrow {
        .infoResume {
            height: 20px;
            width: 20px;
            background-image: url("/images/icons/ankeinfo.png");
            background-size: contain;
            background-repeat: no-repeat;
            cursor: pointer;
            margin-right: -14px;
            margin-left: auto;
        }
    }
    .row {
        .arrow {
            height: 13px;
            width: 13px;
            cursor: pointer;
            background-image: url("/images/icons/iconDropdownBlue.png");
            background-size: contain;
            background-repeat: no-repeat;   
            background-position: right;
            margin-right: -10px;
            margin-left: auto;
            margin-top: 20%;
        }

        .summary {
            display: none;
        }
    }

    .row.open {
        .arrow {
            transform: rotate(180deg);
        }

        .row.with-summary {
            background-color: #e9e8e4;
            padding-top: 4px;

            .summary {
                display: contents;
            }
        }

        .row.with-summary :nth-child(1) {
            width: 10%;
            text-align: center;
        }

        .row.with-summary :nth-child(2) {
            width: 75%;
        }

        .row.with-summary :nth-child(3) {
            width: 15%;
            text-align: center;
        }
    }
}

// Adjusts the right starts position on the top case
#localSavedCases :nth-child(1) {
    .container-star {
        .star {
            margin-top: 5%;
        }
    }
}

// removes all info modals from the arrow except from the top case
#localSavedCases :not(:nth-child(1)) {
    #container-arrow {
        .infoResume {
            display: none;
        }
    }
}

// Adjusts the right starts position on the top case
#localSavedCases :nth-child(1) {
    #container-arrow {
        .arrow {
            margin-top: 5%;
        }
    }
}