@import "bootstrap/functions";
@import "bootstrap/variables";
@import "bootstrap/mixins/breakpoints";

@include media-breakpoint-between(xs,lg) {

    .containerSearchParams :nth-child(1) {
        order: 0;
    }

    .containerSearchParams :nth-child(2) {
        order: 1;
    }

    .containerSearchParams :nth-child(3) {
        order: 2;
    }

    .containerSearchParams :nth-child(4) {
        order: 5;
    }

    .containerSearchParams :nth-child(5) {
        order: 6;
    }

    .containerSearchParams :nth-child(6) {
        order: 3;
    }

    .containerSearchParams :nth-child(7) {
        order: 4;
    }

    .containerSearchParams :nth-child(8) {
        order: 7;
    }
}

.containerSearchParams {
    height: auto;

    .container-searchAndSaved {
        position: relative;
        display: block;
        padding-top: 30px;
        margin-right: auto;
        margin-left: auto;
        width: 80%;
        border-bottom: solid 2px;
        text-align: right;
        vertical-align: top;
        height: 50px;
        margin-top: 30px;

        @include media-breakpoint-between(xs,md) {
            width: 98%;
            text-align: right;
        }

        @include media-breakpoint-between(md,lg) {
            width: 80%;
        }

        .container-buttons {
            position: absolute;
            display: block;
            bottom: -2px;
            width: 100%;

            .goToSearchResult {
                position: relative;
                display: inline-block;
                vertical-align: top;
                padding: 10px;
                border: solid 2px;
                width: 20%;
                text-align: center;
                height: 50px;
                cursor: pointer;
                margin-right: 10px;
                border-top-right-radius: 8px;
                border-top-left-radius: 8px;

                &.active {
                    color: white;
                    background-color: #2d3e50;
                    border-color: #2d3e50;
                }

                @include media-breakpoint-between(xs,md) {
                    width: 40%;
                }

                @include media-breakpoint-between(md,lg) {
                    width: 30%;
                }
            }

            .goToSavedRulings {
                position: relative;
                display: inline-block;
                padding: 10px;
                border: solid 2px;
                width: 25%;
                text-align: center;
                height: 50px;
                cursor: pointer;
                border-top-right-radius: 8px;
                border-top-left-radius: 8px;

                .starImage {
                    position: relative;
                    height: 18px;
                    width: 18px;
                    background-image: url("/images/icons/starBlue.png");
                    background-size: contain;
                    background-repeat: no-repeat;
                    display: inline-block;
                    margin-left: 5px;
                }

                &.active {
                    color: white;
                    background-color: #2d3e50;
                    border-color: #2d3e50;


                    .starImage {
                        background-image: url("/images/icons/starGray.png");
                        background-color: white;
                    }
                }

                @include media-breakpoint-between(xs,md) {
                    width: 50%;
                }

                @include media-breakpoint-between(md,lg) {
                    width: 40%;
                }
            }
        }
    }

    .search-box-label {
        margin-right: auto;
        margin-left: auto;
        font-family: "PT Serif", serif;
        font-weight: bold;
        font-size: 15px;
        color: #2c3e50;
        padding-top: 80px;
        width: 80%;

        @include media-breakpoint-between(xs,md) {
            padding-top: 30px;
            width: 90%;
        }

        .search-box {
            font-family: "PT Serif", serif;
            color: #2c3e50;
            width: 100%;
            height: 50px;
            cursor: pointer;
            text-indent: 28px;
            font-weight: 700;
            padding: 2px 5px;
            margin-top: 5px;
            border: solid 2px #2c3e50;
            background-image: url("/images/icons/iconMagnify.png");
            background-size: auto;
            background-repeat: no-repeat;
            background-position: center right 20px;

            @include media-breakpoint-between(xs,md) {
                width: 98%;
            }
        }

        .search-box:hover {
            background-color: rgba(44, 62, 80, 80%);
            color: white;
        }

        .text-under-searchbox {
            @include media-breakpoint-between(xs,md) {
                width: 320px;
            }


            h4 {
                font-size: 15px;
                font-style: italic;
                font-weight: 300;
                margin-top: 5px;
                max-width: 100%;
            }
        }

        .incBoxSize {
            @include media-breakpoint-between(md,lg) {
                width: 250px;
            }

            @include media-breakpoint-between(xs,md) {
                width: 180px;
            }
        }

        .incurance-type-label {
            font-family: "PT Serif", serif;
            font-weight: bold;
            font-size: 15px;
            color: #2c3e50;
        }

        .incurance-type-selectbox {
            padding: 10px;
            font-family: "PT Serif", serif;
            width: 200px;
            height: 50px;
            margin-top: 5px;
            border: solid 2px #2c3e50;

            @include media-breakpoint-between(xs,md) {
                width: 150px;
            }
        }

        .incurance-type-selectbox:hover {
            background-color: rgba(44, 62, 80, 0.8);
            color: white;
        }

        .company-label {
            font-family: "PT Serif", serif;
            font-weight: bold;
            font-size: 15px;
            color: #2c3e50;
        }

        #companyNames {
            width: 200px;
            font-weight: normal;

            .vscomp-toggle-button {
                height: 50px;
                border: solid 2px #2d3e50;

                @include media-breakpoint-between(xs,md) {
                    border: solid 2px #2d3e50;
                }
            }

            @include media-breakpoint-between(xs,md) {
                width: 150px;
            }
        }

        #insuranceType {
            width: 200px;
            font-weight: normal;

            .vscomp-toggle-button {
                height: 50px;
                border: solid 2px #2d3e50;


                @include media-breakpoint-between(xs,md) {
                    border: solid 2px #2d3e50;
                }
            }

            @include media-breakpoint-between(xs,md) {
                width: 150px;
            }
        }

        .company-selectbox {
            padding: 10px;
            font-family: "PT Serif", serif;
            width: 200px;
            height: 50px;
            margin-top: 5px;
            border: solid 2px #2c3e50;

            @include media-breakpoint-between(xs,md) {
                width: 150px;
            }
        }

        .company-selectbox:hover {
            background-color: rgba(44, 62, 80, 0.8);
            color: white;
        }

        .lable-for-cbox {
            font-family: "PT Serif", serif;
            font-weight: bold;
            font-size: 15px;
            color: #2c3e50;
        }

        .first-cbox-row {
            white-space: nowrap;
            font-weight: 300;

            input {
                cursor: pointer;
            }
        }

        .second-cbox-row {
            white-space: nowrap;
            font-weight: 300;


            input {
                cursor: pointer;
            }

            @include media-breakpoint-between(xs,lg) {
                br:first-child {
                    display: none;
                }
            }
        }

        .end-date-lable, .start-date-lable {
            font-family: "PT Serif", serif;
            font-weight: bold;
            font-size: 15px;
            color: #2c3e50;
        }

        .end-date, .start-date {
            width: 200px;
            height: 50px;
            margin-top: 5px;
            border: solid 2px #2c3e50;
            text-indent: 20px;

            @include media-breakpoint-between(xs,md) {
                width: 150px;
                border: solid 2px #2c3e50;
            }
        }

        .end-date:hover, .start-date:hover {
            background-color: rgba(44, 62, 80, 0.8);
            color: white;
        }

        .startBoxSize {
            @include media-breakpoint-between(md,lg) {
                width: 250px;
            }

            @include media-breakpoint-between(xs,md) {
                width: 180px;
            }
        }

        .container-button {
            text-align: right;

            @include media-breakpoint-between(xs,md) {
                width: 100%;
                text-align: right;
                padding-top: 10px;
            }

            .reset-search-button {
                font-size: 15px;
                font-family: "PT Serif", serif;
                text-decoration: underline;
                cursor: pointer;
                display: inline-block;
            }

            .reset-search-button:hover {
                text-decoration: none;
            }

            .search-button {
                background-color: #2d3e50;
                color: white;
                font-size: 15px;
                min-width: 6em;
                min-height: 3em;
                border: 0px;
                font-weight: 700;
                font-family: "PT Serif", serif;
                margin-left: 10px;
            }
        }
    }
}
