//@use "readLines";
@import "savedCases";
@import "containerDataSheet";
@import "allModals";
@import "headerContent";
@import "firstBodySection";
@import "searchSection";
@import "dataHeader";
@import "dataDesktopVersion";
@import "dataMobileVersion";
@import "buttonRulingSection";
@import "footerSection";
@import "subscribeSection";

@import "bootstrap/functions";
@import "bootstrap/variables";
@import "bootstrap/mixins/breakpoints";

section {
    font-family: "PT Serif", serif;
    min-width: 370px;

    .inner {
        display: flex;
        flex-flow: row wrap;
        margin-left: auto;
        margin-right: auto;
        max-width: 1200px;
        height: 100%;

        .cell {
            background-color: #f2f1ec;
            flex: 0 0 auto;
            width: 100%;
        }
    }
}
