//@use "readLines";
@use "savedCases";
@use "containerDataSheet";
@use "allModals";
@use "headerContent";
@use "firstBodySection";
@use "searchSection";

@import "bootstrap/functions";
@import "bootstrap/variables";
@import "bootstrap/mixins/breakpoints";



/** {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}*/

/*.close:hover,
.close:focus {*/
    /*color: #000;*/
/*    text-decoration: none;
    cursor: pointer;
}*/


/*body {*/
 /*   min-height: 100vh;
    display: flex;
    flex-direction: column;*/
   



    /*content {*/
        //flex-grow: 1;



    //}
    /*  .sticky {
        position: fixed;
        top: 0;
        width: 80%;
    }
*/


    .container-outer.header {
        width: 96%;
        margin-left: auto;
        margin-right: auto;
        height: auto;
        padding-top: 20px;
        position: relative;

        @include media-breakpoint-between(xs,lg) {
            display: none;
        }


        .totalRulings {
            .totalRulingsSpan {
                font-weight: bold;
            }

            .showTotalRulings {
                display: inline-block;
                font-style: italic;
            }


            .removeAllSavedCases {
                display: none;
            }


            &.active {
                .showTotalRulings {
                    display: none;
                }

                .removeAllSavedCases {
                    display: inline-block;
                    text-decoration-line: underline;
                    cursor: pointer;
                }

                .removeAllSavedCases:hover {
                    text-decoration-line: none;
                }
            }
        }

        .open-close-all-resumées > div {
            text-align: right;

            span {
                cursor: pointer;
                text-decoration-line: underline;
            }
        }

        .open-close-all-resumées > div > span:hover {
            text-decoration-line: none;
        }


        .header-filler {
            height: 10px;
            background-color: #b6bbbd;
        }

        .container-header-content {
            display: flex;
            width: 100%;
            background-color: #b6bbbd;
            cursor: pointer;
            height: 60px;


            > div {
                position: relative;
                //border: solid 1px red;
            }

            > div:after {
                content: "";
                position: absolute;
                display: block;
                height: 80%;
                width: 1px;
                left: 0px;
                border: solid 1px #a8aeb2;
                top: 10%;
            }

            > div:nth-child(1):after {
                content: "";
                position: absolute;
                display: block;
                height: 80%;
                width: 1px;
                left: 0px;
                border: 0px;
                top: 10%;
            }

            .asc, .desc {
                background-color: #2d3e50;
                color: white;

                &:after {
                    content: "";
                    position: absolute;
                    display: block;
                    height: 80%;
                    width: 1px;
                    left: 0px;
                    border: 0px;
                    top: 10%;
                }
            }

            .asc {
                &:before {
                    content: "";
                    position: absolute;
                    display: block;
                    height: 16px;
                    width: 100%;
                    background-image: url("/images/icons/order-arrow.png");
                    background-size: 14px;
                    background-repeat: no-repeat;
                    background-position: center;
                    left: 0px;
                    bottom: 10px;
                    transition: 50ms linear;
                    transform: scaleY(1);
                }
            }

            .desc {
                &:before {
                    content: "";
                    position: absolute;
                    display: block;
                    height: 16px;
                    width: 100%;
                    background-image: url("/images/icons/order-arrow.png");
                    background-size: 14px;
                    background-repeat: no-repeat;
                    background-position: center;
                    left: 0px;
                    bottom: 10px;
                    transform: scaleY(-1);
                    transition: 50ms linear;
                }
            }
        }




        .container-header-content :nth-child(1) {
            width: 10%;
            text-align: center;
            //border-right: solid 1px #a8aeb2;
            padding: 10px;
        }


        .container-header-content :nth-child(2) {
            width: 15%;
            text-align: center;
            //border-right: solid 1px #a8aeb2;
            padding: 10px;
        }

        .container-header-content :nth-child(3) {
            width: 25%;
            text-align: center;
            //border-right: solid 1px #a8aeb2;
            padding: 10px;
        }

        .container-header-content :nth-child(4) {
            width: 15%;
            text-align: center;
            //border-right: solid 1px #a8aeb2;
            padding: 10px;
        }

        .container-header-content :nth-child(5) {
            width: 20%;
            text-align: center;
            //border-right: solid 1px #a8aeb2;
            padding: 10px;
        }

        .container-header-content :nth-child(6) {
            width: 10%;
            text-align: center;
            //border-right: solid 1px #a8aeb2;
            padding: 10px;
        }

        .container-header-content :nth-child(7) {
            width: 5%;
            text-align: center;
            padding: 10px;
        }
    }






    .container-outer.desktop {
        height: auto;
        //padding-right: 0px;
        padding-bottom: 20px;
        //width: 96%;
        margin: 0 auto;




        @include media-breakpoint-between(xs,lg) {
            display: none;
        }


        .first-filler {
            height: 20px;
            background-color: #e9e8e4;
        }


        .last-filler {
            height: 20px;
            background-color: #e9e8e4;
            border-bottom: solid 2px #2c3e50;
        }

        .container-data-content {
            display: flex;
            width: 100%;
            background-color: #e9e8e4;
            color: #2c3e50;
            font-size: 16px;
            font-weight: 400;
        }






        .container-data-content > :nth-child(1) {
            width: 10%;
            text-align: center;
            border-right: solid 1px #d7d8d3;
        }

        .container-data-content :nth-child(2) {
            width: 15%;
            text-align: center;
            border-right: solid 1px #d7d8d3;
        }

        .container-data-content :nth-child(3) {
            width: 25%;
            border-right: solid 1px #d7d8d3;
        }

        .container-data-content :nth-child(4) {
            width: 15%;
            text-align: center;
            word-wrap: break-word;
            border-right: solid 1px #d7d8d3;
            white-space: normal;
        }

        .container-data-content :nth-child(5) {
            width: 20%;
            text-align: center;
            border-right: solid 1px #d7d8d3;
        }

        .container-data-content :nth-child(6) {
            width: 10%;
            text-align: center;
            border-right: solid 1px #d7d8d3;
        }

        .container-data-content :nth-child(7) {
            width: 5%;
            text-align: center;
        }



        > .container-data-content > div > div {
            padding: 10px;
            text-transform: lowercase;


            &:first-letter {
                text-transform: uppercase;
            }
        }
    }





    .container-outer.mobile {
        //position: relative;



        .container {
            width: 98%;
            background-color: #e9e8e4;
            color: #2c3e50;
            line-height: 1.2rem;
            max-width: 780px;

            @include media-breakpoint-between(md,lg) {
                width: 80%;
            }
        }




        .container > div > div > div {
            text-transform: lowercase;


            &:first-letter {
                text-transform: uppercase;
            }
        }

        .row:nth-child(1) {
            padding-top: 10px;
            //margin-top: 20px;
            white-space: nowrap;
        }

        .row:nth-child(2) {
            padding-top: 10px;
        }

        .row:nth-child(3) {
            padding-top: 10px;
            white-space: nowrap;
        }

        .row:nth-child(4) {
            //padding-top: 10px;
            border-bottom: solid 2px #2d3e50;
            //padding-top: 10px;
            padding-bottom: 20px;
            //text-align: center;
            margin-bottom: 20px;
        }

        .open-mobile-ruling {
            cursor: pointer;
            text-decoration-line: underline;
        }

        @include media-breakpoint-up(lg) {
            display: none;
        }

        @include media-breakpoint-between(xs,md) {
            display: contents;
        }
    }



    .row :nth-child(1) {


        .container-outer.desktop:nth-child(1) {
            padding-top: 0px;
        }
    }

    .row:nth-child(1) {
        #container-arrow {
            padding-top: 30px;

            @include media-breakpoint-between(xs,lg) {
                display: none;
            }
        }

        .container-star {
            padding-top: 30px;

            @include media-breakpoint-between(xs,lg) {
                display: none;
            }
        }
    }

    .row:not(:nth-child(1)) {
        #container-arrow {
            padding-top: 50px;

            @include media-breakpoint-between(xs,lg) {
                display: none;
            }
        }

        .container-star {
            padding-top: 50px;

            @include media-breakpoint-between(xs,lg) {
                display: none;
            }
        }
    }



    .container-button-getRulings {
        text-align: center;
        //padding-top: 15px;

        &.active {
            display: none;
        }

        .user-be-more-specifik-text {
            display: none;
        }

        .getMoreRulings {
            width: 80%;
            height: 50px;
            background-color: #2d3e50;
            color: white;
            border: 0px;
            font-size: 21px;

            @include media-breakpoint-between(xs,md) {
                width: 98%;
            }
        }

        &.ToManyRulings {

            .user-be-more-specifik-text {
                display: contents;
                font-size: 22px;

                @include media-breakpoint-between(xs,md) {
                    font-size: 16px;
                }
            }

            .getMoreRulings {
                display: none;
            }
        }

        &.noMoreRulings {
            .getMoreRulings {
                display: none;
            }
        }
    }

    .container-text-under-getMoreRulingsButton {
        width: 80%;
        margin-top: 15px;
        margin-left: auto;
        margin-right: auto;
        border-bottom: solid 2px #2c3e50;
        padding-bottom: 5px;

        &.active {
            display: none;
        }

        h4 {
            font-size: 15px;
            font-style: italic;
            font-weight: 400;

            a {
                color: black;
            }
        }

        @include media-breakpoint-between(xs,md) {
            width: 95%;
        }
    }

    .filler-when-empty {
        display: none;

        &.active {
            display: block;
            height: 200px;
            width: 80%;
            margin-right: auto;
            margin-left: auto;


            p {
                text-align: center;
                padding: 70px;
            }
        }
    }

    footer {
        /*margin-top: 20px;*/

        .first-footer {
            position: relative;
            display: flex;
            flex-direction: column;
            justify-items: flex-end;
            background-image: url("/images/bgBottom.png");
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            height: 210px;
            width: 100%;

            @include media-breakpoint-between(xs,md) {
                height: 440px;
            }

            .container-first-footer {
                margin-top: 20px;
                display: flex;
                justify-content: space-between;

                @include media-breakpoint-between(xs,md) {
                    flex-direction: column;
                }

                .left-links {
                    margin-left: 10%;

                    ul {
                        list-style-type: none;
                        padding-left: 0px;

                        li {
                            a {
                                font-family: "PT Serif", serif;
                                font-size: 18px;
                                text-decoration: none;
                                color: white;
                            }
                        }
                    }
                }

                .right-links {
                    margin-right: 10%;
                    text-align: right;

                    @include media-breakpoint-between(xs,md) {
                        margin-top: 30px;
                        margin-left: 10%;
                        text-align: left;
                    }

                    ul {
                        list-style-type: none;
                        padding-left: 0px;

                        li {
                            font-family: "PT Serif", serif;
                            font-size: 18px;
                            text-decoration: none;
                            color: white;
                        }
                    }
                }
            }
        }

        .last-footer {
            .container-last-footer {
                height: 250px;

                @include media-breakpoint-between(xs,md) {
                    height: 600px;
                }

                .three-images {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-around;

                    @include media-breakpoint-between(xs,md) {
                        align-items: center;
                        flex-direction: column;
                    }


                    .one {
                        position: relative;
                        margin-top: 20px;
                        margin-left: 40px;
                        height: 100px;
                        width: 200px;
                        background-image: url("/images/logo_finnet.png");
                        background-size: auto;
                        background-repeat: no-repeat;
                        background-position: center;


                        a {
                            position: absolute;
                            top: 0px;
                            height: 100%;
                            display: block;

                            &:nth-child(1) {
                                width: 50%;
                                left: 25%;
                            }
                        }


                        p {
                            margin-top: 100px;
                            text-align: center;
                            color: #b9b9b9;
                        }

                        @include media-breakpoint-between(xs,md) {
                            margin-left: 0px;
                        }
                    }


                    .two {
                        position: relative;
                        margin-top: 20px;
                        height: 100px;
                        width: 200px;
                        background-image: url("/images/logo_Erhverv.png");
                        background-size: auto;
                        background-repeat: no-repeat;
                        background-position: center;


                        a {
                            position: absolute;
                            top: 0px;
                            height: 100%;
                            display: block;

                            &:nth-child(1) {
                                width: 100%;
                                left: 0px;
                            }
                        }

                        p {
                            margin-top: 100px;
                            text-align: center;
                            color: #b9b9b9;
                        }

                        @include media-breakpoint-between(xs,md) {
                            margin-top: 80px;
                        }
                    }



                    .three {
                        position: relative;
                        margin-top: 20px;
                        margin-right: 40px;
                        height: 100px;
                        width: 250px;
                        background-image: url("/images/logo_forbrugerraadetogFP.png");
                        background-size: auto;
                        background-repeat: no-repeat;
                        background-position: center;


                        a {
                            position: absolute;
                            top: 0px;
                            height: 100%;
                            display: block;

                            &:nth-child(1) {
                                width: 50%;
                                left: 0px;
                            }

                            &:nth-child(2) {
                                width: 50%;
                                right: 0px;
                            }
                        }

                        p {
                            margin-top: 100px;
                            text-align: center;
                            color: #b9b9b9;
                        }

                        @include media-breakpoint-between(xs,md) {
                            margin-top: 80px;
                            margin-right: 0px;
                        }
                    }
                }
            }
        }
    }


  

    .container-search-subscription {
        color: #2d3e50;
        margin-top: 60px;
        width: 100%;
        margin-bottom: 20px;

        &.active {
            display: none;
        }

        @include media-breakpoint-between(xs,md) {
            margin-top: 30px;
        }

        .container-upper-text {
            width: 80%;
            margin-left: auto;
            margin-right: auto;
            text-align: center;

            @include media-breakpoint-between(xs,md) {
                text-align: left;
                width: 95%;
                line-height: 1.2;
            }

            p {
                @include media-breakpoint-between(xs,md) {
                    font-size: 14px;
                }
            }

            a {
                color: #2d3e50;
                text-decoration-line: underline;
                cursor: pointer;
                font-style: italic;
                font-weight: bold;
            }
        }

        .e-mail-subscription-header {
            width: 80%;
            margin-left: auto;
            margin-right: auto;
            font-size: 17px;
            font-weight: bold;

            @include media-breakpoint-between(xs,md) {
                width: 95%;
                font-size: 14px;
            }
        }

        .container-subscription-input {
            width: 80%;
            margin-left: auto;
            margin-right: auto;
            white-space: nowrap;

            @include media-breakpoint-between(xs,md) {
                width: 95%;
            }

            #input-subscription-id {
                height: 50px;
                width: 70%;
                text-indent: 20px;
                border: solid 2px #2d3e50;
            }

            .subscription-button {
                height: 50px;
                width: 25%;
                margin-left: 5%;
                background-color: #2d3e50;
                color: white;
                border: solid 2px #2d3e50;
            }
        }

        .container-last-text {
            width: 80%;
            margin-left: auto;
            margin-right: auto;
            margin-top: 10px;

            @include media-breakpoint-between(xs,md) {
                width: 94%;
            }

            h4 {
                font-size: 16px;
                font-style: italic;
            }
        }
    }


    .container-button-getRulings.ToManyRulings {
        .user-be-more-specifik-text {
            p {
                font-size: 17px;
                margin-bottom: 50px;
                color: red;
                font-weight: bold;
            }
        }
    }

    section {
        font-family: "PT Serif", serif;
        min-width: 370px;

        .inner {
            display: flex;
            flex-flow: row wrap;
            margin-left: auto;
            margin-right: auto;
            max-width: 1200px;
            height: 100%;

            .cell {
                background-color: #f2f1ec;
                flex: 0 0 auto;
                width: 100%;
            }
        }
    }
//}
