@*First body section with the logo and background pic*@
<section>
    <div class="inner">
        <div class="cell">
            <div class="containerPic backgroundpic">
                <div class="container-inner">
                    <h2>Se resultater fra andre afgørelser</h2>
                    <div>
                        <h4>

                            <i>Bliv bedre klædt på til din sag eller se resultater fra andre typer af klager</i>
                            <br>
                            <i>Du kan også abonnere på bestemte typer af afgørelser. </i>
                        </h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


 @*Skal slettes senere, bliver kun brugt til at teste at siden bliver reloadet på ny*@
@*<p id="readomNumberToTestOn"></p>*@


@*Second body section with all search params*@
<section>
    <div class="inner">
        <div class="cell">
            <div class="containerSearchParams">
                <div class="search-box-label">
                    <div class="row">
                        <div class="col col-sm-12 col col-lg-12">
                            Fritekstsøgning:
                            <br>
                            <input class="search-box" type="text" id="txtInputAutocomplete" />
                            <div class="text-under-searchbox">
                                <h4>
                                    Du kan søge på kendelsesnummer, emneord, selskab, forsikringstype og resumé. <br>
                                    Afslut søgeordet med * for også at fremsøge forskellige endelser på ordet.
                                </h4>
                            </div>
                        </div>
                        <div class="col col-sm-6 col-lg-3 incBoxSize">
                            <div>
                                <lable class="incurance-type-label" for="incurancetype">Forsikringstype:</lable>
                                <br>

                                <div id="insuranceType" multiple placeholder="Vælg" data-search="false"></div>
                            </div>
                        </div>
                        <div class="col col-sm-6 col-lg-3 comBoxSize">
                            <div>
                                <lable class="company-label" for="company">Selskab:</lable>
                                <br>
                                <div id="companyNames" multiple placeholder="Vælg" data-search="false"></div>
                            </div>
                        </div>
                        <div class="col col-sm-12 col-lg-3">
                            <div class="first-cbox-row">
                                <label class="lable-for-cbox">Kendelser:</label>
                                <br>
                                <input type="checkbox" id="checkboxComplainantUpheld" />
                                <lable>Klager medhold</lable>
                                <br>
                                <input type="checkbox" id="checkboxCompanyUpheld" />
                                <lable>Selskab medhold</lable>
                                <br>
                                <input type="checkbox" id="checkboxPK" />
                                <lable>Principielle afgørelser (P.K.)</lable>
                            </div>
                        </div>
                        <div class="col-sm-12 col-lg-3">
                            <div class="second-cbox-row">
                                <br>
                                <input type="checkbox" id="checkboxComplainantPartialUpheld" />
                                <lable>Klager delvist medhold</lable>
                                <br>
                                <input type="checkbox" id="checkboxComplaintDenied" />
                                <lable>Afvist</lable>
                                <br>
                            </div>
                        </div>
                        <div class="col col-sm-6 col-lg-3 startBoxSize">
                            <div>
                                <lable class="start-date-lable" for="startdate">Datointerval fra:</lable>
                                <br>
                                <input class="start-date" type="text" id="fromDate" autocomplete="off" />
                                <input type="hidden" id="fromDate_alt" />
                            </div>
                        </div>
                        <div class="col col-sm-6 col-lg-3">
                            <div>
                                <lable class="end-date-lable" for="startdate">Til:</lable>
                                <br>
                                <input class="end-date" type="text" id="toDate" autocomplete="off"/>
                                <input type="hidden" id="toDate_alt" />
                            </div>
                        </div>

                        <div class="col-sm-12">
                            <div class="container-button">
                                <div class="reset-search-button" id="resetSearch">Nulstil søgning</div>
                                <input type="button" value="Søg" class="search-button" id="btnAutocomplete">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container-searchAndSaved">
                    <div class="container-buttons">
                        <div class="goToSearchResult active"> Søgeresultat</div>
                        <div class="goToSavedRulings "> Gemte afgørelser<div class="starImage"></div><span class="savedRulingsNumber">(0)</span></div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

@*Third body section with all containerData and localSavedCases*@
<section>
    <div class="inner">
        <div class="cell">
            <div class="row g-0 ">

                <div class="col-lg-1 col-md-1 col-sm-1"></div>
                <div class="col-lg-10 col-md-10 col-sm-10">

                    <div id="myHeader" class="container-outer header">

                        <div class="row">
                            <div class="col-lg-6">
                                <div class="totalRulings">
                                    <p class="showTotalRulings">Der er fundet <span class="totalRulingsSpan"></span> afgørelser</p>
                                    <p class="removeAllSavedCases">Fjern alle gemte afgørelser</p>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="open-close-all-resumées"><div><span>Fold alle resuméer ind / ud på alle kendelser i listen</span></div></div>
                            </div>
                        </div>

                        <div class="container-header-content">
                            <div tag="dateHeader" class="header-dato desc" searchby="CLOSED_DATE">Dato</div>
                            <div class="header-kendelsesnr" searchby="CASE_NUMBER">Kendelsesnr.</div>
                            <div class="header-emneord" searchby="SearchWords">Emneord</div>
                            <div class="header-selskab" searchby="CompanyName">Selskab</div>
                            <div class="header-forsikringstype" searchby="InsuranceType">Forsikringstype</div>
                            <div class="header-medhold" searchby="RESULT">Medhold</div>
                            <div class="header-pk" searchby="PRINCIPLE">P.K</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-1 col-md-1 col-sm-1"></div>
            </div>

            <div id="containerData" class="savedRulingsHidden"></div>
            <div id="localSavedCases" class="savedRulings"></div>

            <div class="container-button-getRulings">
                <input class="getMoreRulings" type="button" value="Hent flere afgørelser" />
                <div class="user-be-more-specifik-text">
                    <p>Du har hentet 100 afgørelser og endnu ikke fundet hvad du ledte efter.<br> Vær mere specifik i din søgning for at indsævre søgningen, dette kan gøres ved at                          vælge flere søgeparametre.</p>
                </div>
                <div class="noMoreRulings"></div>
                <div id="scrollToHere"></div>

            </div>
            <div class="container-text-under-getMoreRulingsButton">
                <h4>
                    Klik på et afgørelsesnummer for at hente afgørelsen i PDF-format(<a href="https://get.adobe.com/dk/reader/" target="_blank">hent Acrobat Reader her</a>)<br>
                    Klik på stjernen til højre for en afgørelse for at gemme afgørelsen. Du kan se gemte afgørelser under fanen "Gemte afgørelser" øverst til højre.
                </h4>
            </div>
            <div class="filler-when-empty">
                <p>Du har ikke gemt nogle afgørelser</p>
            </div>
        </div>
    </div>
</section>

@*Fourth body section containing the opotunity to subscribe on a search*@
<section>
    <div class="inner">
        <div class="cell">

            <div class="container-search-subscription">
                <div class="container-upper-text">
                    <h2>Abonnér på denne søgning</h2>
                    <p>
                        Du kan abonnere på resultatet af denne søgning, hvor vi vil sende dig en e-mail hver gang,<br> der lægges nye
                        afgørelser på hjemmesiden, som matcher kriterierne <a data-bs-toggle="modal" data-bs-target="#subscrip-exemple-modal">se et eksempel her.</a>
                    </p>
                </div>
                <div class="e-mail-subscription-header"> Din e-mail adresse:</div>
                <div class="container-subscription-input">
                    <input type="text" placeholder="Indtast e-mail her" id="input-subscription-id" autocomplete="off"/>
                    <input type="button" value="Abonnér" class="subscription-button" />
                </div>
                <div class="container-last-text">
                    <h4>

                        Du kan abonnere på flere søgninger på samme e-mailadresse. Du kan slette og redigere et søgeabonnement via et link i bunden af den e-mail, du modtager. Vi                             bruger ikke din e-mailadresse til andet og videregiver den ikke til tredjepart.
                    </h4>
                </div>
            </div>
        </div>
    </div>
</section>

@*This section is for all modals on the page, the ID descripes what it does*@
<section>
    <inner>
        <cell>
            <!-- Modal -->
            <div class="modal" id="mobile-Modal" tabindex="-1">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">

                            <h4 style="display:inline-block;">kendelsesnr - <span id="modal-caseNumber"></span></h4>

                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>

                        </div>
                        <div class="modal-body">
                            <div class="row">

                                <div class="col col-sm-4">
                                    <h4>Dato</h4>
                                    <h6 id="modal-dato"></h6>
                                </div>
                                <div class="col col-sm-4">
                                    <h4>Medhold</h4>
                                    <h6 id="modal-result"></h6>
                                </div>
                                <div class="col col-sm-4">
                                    <h4>P.K.</h4>
                                    <h6 id="modal-principle"></h6>
                                </div>
                                <div class="col-sm-12">
                                    <h4>Emneord</h4>
                                    <h6 id="modal-searchWords"></h6>
                                </div>

                                <div class="col col-sm-6">
                                    <h4>Selskab</h4>
                                    <h6 id="modal-companyName"></h6>
                                </div>
                                <div class="col col-sm-6">
                                    <h4>Forsikringstype</h4>
                                    <h6 id="modal-insuranceType"></h6>
                                </div>

                                <div class="col-sm-12">
                                    <h4>Resumé</h4>
                                    <h6 id="modal-summary"></h6>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn close-button" data-bs-dismiss="modal">Close</button>
                            <button type="button" class="btn modalSaveCase">Save changes</button>

                        </div>
                    </div>
                </div>
            </div>
            <!-- Modal slut -->

            <!-- Modal -->
            <div class="modal" id="info-star-Modal" tabindex="-1">
                <div class="modal-dialog">
                    <div class="modal-content">

                        <button type="button" class="close-star" data-bs-dismiss="modal" aria-label="Close"></button>

                        <div class="modal-body-info">
                            Klik på <span class="modal-star-icon"></span>&nbsp;for at markere en kendelse til senere brug.
                            De markerede kendelser kan herefter findes under "Gemte kendelser".
                            Der benyttes cookies til gemte kendelser,
                            så hvis man vælger at rydde sine cookies,
                            mistes de gemte kendelser også.
                        </div>

                    </div>
                </div>
            </div>
            <!-- Modal slut -->

            <!-- Modal -->
            <div class="modal" id="info-resume-Modal" tabindex="-1">
                <div class="modal-dialog">
                    <div class="modal-content">

                        <button type="button" class="close-resume" data-bs-dismiss="modal" aria-label="Close"></button>

                        <div class="modal-body-info">
                            Klik på <span class="modal-arrow-icon"></span>&nbsp;ikonet for at vise resumét for den enkelte kendelse.
                        </div>

                    </div>
                </div>
            </div>
            <!-- Modal slut -->

            <!-- Modal -->
            <div class="modal" id="subscrip-exemple-modal" tabindex="-1">
                <div class="modal-dialog">
                    <div class="modal-content">

                        <button type="button" class="close-exemple" data-bs-dismiss="modal" aria-label="Close"></button>

                        <div class="modal-body-info">
                        </div>

                    </div>
                </div>
            </div>
            <!-- Modal slut -->
        </cell>
    </inner>
</section>


@*This is the containerData Template*@
<script type="template/text" id="datalist">
     {{#cases}}
       <div class="row g-0">
           <div id="container-arrow" class="col-lg-1 col-md-1 col-sm-1"> <div class="infoResume" data-bs-toggle="modal" data-bs-target="#info-resume-Modal"></div><div class="arrow" ></div></div>
           <div  class="col-lg-10 col-md-10 col-sm-10 remove-padding">
               <div class="container-outer desktop">
                  <div class="first-filler"></div>
                  <div class="container-data-content">
                      <div ><div class="saved-date">{{DATE_FORMATED}}</div></div>
                      <div ><div class="saved-caseNumber">{{casE_NUMBER}}</div></div>
                      <div ><div class="saved-searchWords">{{searchWords}}</div></div>
                      <div ><div class="saved-companyName">{{companyName}}</div></div>
                      <div ><div class="saved-insuranceType">{{insuranceType}}</div></div>
                      <div ><div class="saved-result">{{result}}</div></div>
                      <div ><div class="saved-principle">{{principle}}</div></div>
                  </div>
                  <div class="row with-summary g-0">
                      <div class="col-lg-2"></div>
                      <div class="col-lg-7"><div class="summary">{{summary}}</div></div>
                      <div class="col-lg-3"></div>
                  </div>
                  <div class="last-filler"></div>
               </div>
           </div>
           <div class="col-lg-1 col-md-1 col-sm-1 container-star"> <div class="infoStar" data-bs-toggle="modal" data-bs-target="#info-star-Modal"></div><div id="starid" class="star" ></div></div>
       </div>

       <div class="container-outer mobile">
           <div class="container">
               <div class="row">
                 <div class="col col-sm-4">
                    <strong><div >Dato</div></strong>
                    <div class="dato-modal">{{DATE_FORMATED}}</div>
                 </div>
                   <div class="col col-sm-4">
                    <strong><div>Medhold</div></strong>
                    <div class="result-modal">{{result}}</div>
                 </div>
                 <div class="col col-sm-4">
                    <strong><div>Kendelsesnr.</div></strong>
                    <div class="caseNumber-modal">{{casE_NUMBER}}</div>
                 </div>
                 </div>
                 <div class="row">
                  <div class="col col-sm-12">
                    <strong><div >Selskab</div></strong>
                    <div class="companyName-modal">{{companyName}}</div>
                 </div>
                 </div>
                 <div class="row">
                  <div class="col col-sm-4">
                    <strong><div>Forsikringstype</div></strong>
                    <div class="insuranceType-modal">{{insuranceType}}</div>
                 </div>
                 <div class="col col-sm-4">
                    <strong><div>P.K</div></strong>
                    <div class="principle-modal">{{principle}}</div>
                 </div>
                 <div class="col col-sm-4">
                    <strong><div>Resumé</div></strong>
                    <div class="open-mobile-ruling" data-bs-toggle="modal" data-bs-target="#mobile-Modal"><p>Åben afgørelse</p></div>
                 </div>
                 </div>
                 <div class="row">
                 <div class="col col-sm-12">
                    <strong><div >Emneord</div></strong>
                    <div class="searchWords-modal">{{searchWords}}</div>
                 </div>
                 <div class="summary-modal" style="display:none">{{summary}}</div>
               </div>
           </div>
       </div>
    {{/cases}}
</script>

@*This i the localSavedCases Template*@
<script type="template/text" id="datalistsaved">
     {{#cases}}
       <div class="row g-0">
           <div id="container-arrow" class="col-lg-1 col-md-1 col-sm-1"> <div class="infoResume" data-bs-toggle="modal" data-bs-target="#info-resume-Modal"></div><div class="arrow" ></div></div>
           <div  class="col-lg-10 col-md-10 col-sm-10 remove-padding">
               <div class="container-outer desktop">
                  <div class="first-filler"></div>
                  <div class="container-data-content">
                      <div><div class="saved-date">{{DATE_FORMATED}}</div></div>
                      <div><div class="saved-caseNumber">{{casE_NUMBER}}</div></div>
                      <div><div class="saved-searchWords">{{searchWords}}</div></div>
                      <div><div class="saved-companyName">{{companyName}}</div></div>
                      <div><div class="saved-insuranceType">{{insuranceType}}</div></div>
                      <div><div class="saved-result">{{result}}</div></div>
                      <div><div class="saved-principle">{{principle}}</div></div>
                  </div>
                  <div class="row with-summary g-0">
                      <div class="col-lg-2"></div>
                      <div class="col-lg-7"><div class="summary">{{summary}}</div></div>
                      <div class="col-lg-3"></div>
                  </div>
                  <div class="last-filler"></div>
               </div>
           </div>
           <div class="col-lg-1 col-md-1 col-sm-1 container-star"> <div class="infoStar" data-bs-toggle="modal" data-bs-target="#info-star-Modal"></div><div id="starid" class="star" ></div></div>
       </div>

       <div class="container-outer mobile">
           <div class="container">
               <div class="row">
                 <div class="col col-sm-4">
                    <strong><div >Dato</div></strong>
                    <div class="dato-modal">{{DATE_FORMATED}}</div>
                 </div>
                   <div class="col col-sm-4">
                    <strong><div>Medhold</div></strong>
                    <div class="result-modal">{{result}}</div>
                 </div>
                 <div class="col col-sm-4">
                    <strong><div>Kendelsesnr.</div></strong>
                    <div class="caseNumber-modal">{{casE_NUMBER}}</div>
                 </div>
                 </div>
                 <div class="row">
                  <div class="col col-sm-12">
                    <strong><div >Selskab</div></strong>
                    <div class="companyName-modal">{{companyName}}</div>
                 </div>
                 </div>
                 <div class="row">
                  <div class="col col-sm-4">
                    <strong><div>Forsikringstype</div></strong>
                    <div class="insuranceType-modal">{{insuranceType}}</div>
                 </div>
                 <div class="col col-sm-4">
                    <strong><div>P.K</div></strong>
                    <div class="principle-modal">{{principle}}</div>
                 </div>
                 <div class="col col-sm-4">
                    <strong><div>Resumé</div></strong>
                    <div class="open-mobile-ruling" data-bs-toggle="modal" data-bs-target="#mobile-Modal"><p>Åben afgørelse</p></div>
                 </div>
                 </div>
                 <div class="row">
                 <div class="col col-sm-12">
                    <strong><div >Emneord</div></strong>
                    <div class="searchWords-modal">{{searchWords}}</div>
                 </div>
                 <div class="summary-modal" style="display:none">{{summary}}</div>
               </div>
           </div>
       </div>
    {{/cases}}
</script>

